<h2>Messages</h2>

<%= turbo_stream_from 'messages_stream' %>

<%= turbo_frame_tag 'messages' do %>
    <%= render @messages %>
<% end %>

<%= render template: 'messages/new' %>

<p>
  <%= link_to 'Go to users', users_path %>
</p>
