= turbo_frame_tag 'new_message' do
  .py-3.px-3
    = bootstrap_form_with model: Message.new do |form|
      = form.collection_select :user_id, User.all, :id, :name, { label: 'Author' }, control_class: 'form-select form-select-sm'
      = form.text_field :content, required: true
      = form.primary "Send"
