<%= turbo_frame_tag 'new_message' do %>
    <%= form_with model: Message.new do |form| %>
        <div>
            <%= form.label :user_id, 'Author' %><br>
            <%= form.collection_select :user_id, User.all, :id, :name  %>
        </div>

        <div>
            <%= form.label :content %><br>
            <%= form.text_field :content %>
        </div>

        <div>
            <%= form.submit %>
        </div>
    <% end %>
<% end %>
