.container
  .py-3
    %h2 Users
    %ul.list-group
      - @users.each do |user|
        %li.list-group-item= user.name

  .py-3
    %h3 Add new user
    = bootstrap_form_with(model: User.new) do |form|
      = form.text_field :name, required: true
      = form.primary

  .py-3
    = link_to 'Go to messages', messages_path
