.container.py-3
  %h2 Users
  %ul.list-group
    - @users.each do |user|
      %li.list-group-item= user.name

.container.py-3
  %h3 Add new user
  = form_with(model: User.new) do |form|
    .mb-3
      = form.label :name, 'Name', class: 'form-label'
      = form.text_field :name, class: 'form-control'
    = form.submit class: 'btn btn-primary'

.container.py-3
  = link_to 'Go to messages', messages_path
